/* footer */
.contacts {
    background: #111;
    color: var(--clr--accent);
    text-align: center;
    padding: 1em 0;
    font-size: var(--fs-h3);

}

.contacts a { 
    color: inherit;
    text-decoration: none;
}

.contacts__link {
    font-weight: var(--fw-bold);
}

.contacts__link:hover{
    opacity: .7;
}

.contacts__link:hover {
    text-decoration: underline;
}

.contacts-list{
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.contacts-list__item{
    margin: 0 2rem;
}



.social-list__link{
    margin: 0 2rem;
}

.social-list__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.social-list__link:hover {
    text-decoration: underline;
}