
  h3 {
    margin-top: 2rem;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* margin-bottom: 1rem; */
  }
  .row .row {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 1rem;
  }
  [class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
    padding: 1rem;
  }
  
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  