:root{

    /* font-weight*/
    --fw--reg:300;
    --fw-bold:900;

    /* color */
    --clr--light:#cacaca;
    --clr--dark:#2a2a2a;
    --clr--accent:#16e0bd;
    --clr--white:#e6e6e6;
    --clr--blue: #4979ff;
    --clr--lightdark: #8a8a8a;
    --BoxShadow: 0.5em 0.5em 1em rgba(0,0,0,.45),
                0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

body{
    margin: 0;
    padding: 0
}
header, main, footer{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--clr--light);
}
main{
    background-color: var(--clr--white);
    /* border: solid red 1px; */
}
/* typography */
.logo{

    font-size: 1.4rem;
    color: var(--clr--black);
}
.right-header-container,.left-header-container{
    font-size: 1.3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-weight: bold;
}


/* style */
.right-header-link, .left-header-link{
    text-decoration: none;
    color: var(--clr--dark);
    margin: 1rem;
    transition: linear 0.15s;
}


/* layout */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header-link:hover, 
.left-header-link:hover,
.right-header-link:focus, 
.left-header-link:focus{
    outline: none;
    padding-bottom: 0.5em;
    border-bottom: black solid 1px;
}
.active{
    border-bottom: black solid 1px;
}
table, form{
    margin: 0;
    padding:0;
}
.search-container{
    background-image: linear-gradient(var(--clr--light), var(--clr--lightdark)),url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color:var(--clr--light);
    text-align: center;
    padding-top:4em ;
    color: white;
    height: 70%;
    margin-bottom: 2rem;
}


:focus {
    outline: none;
}



@media (min-width: 2400px){
    .grid-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        grid-template-rows:repeat(auto-fit,minmax(500px,500px)) ;
        outline: none;
    }
}
